/* MainMenu.css */

.main-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh; /* Asumiendo que quieres que ocupe toda la altura de la vista */
  }
  
  .central-button {
    position: absolute;
    /* Estilos del botón central */
  }
  
  .circle-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* Puedes añadir un poco de padding si es necesario */
  }
  
  .circle-button {
    border-radius: 50%; /* Hace el botón redondo */
    width: 80px; /* El ancho del botón */
    height: 80px; /* La altura del botón */
    /* Más estilos para tu botón */
  }