@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

:root {
  --clr: #ffff;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.navigation {
  width: 420px;
  height: 72px;
  background: #024b59;
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 1;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    li {
      position: relative;
      list-style: none;
      width: 70px;
      height: 70px;
      z-index: 1;

      &.active a .icon {
        transform: translateY(-27px);
        opacity: 1;
        color: #590246;
      }
    }

    li a {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      text-align: center;
      font-weight: 500;

      .icon  {
        position: relative;
        display: block;
        line-height: 75px;
        font-size: 1.5em;
        text-align: center;
        transition: 0.5s;
        opacity: 0.75;
        transition: 0.5s;
        // transform: translateY();
      }
    }
  }
.st{
  transform: translateY(35px);
}
  .indicator {
    position: absolute;
    top: -35px;
    width: 70px;
    height: 70px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    border: 6px solid var(--clr);
    background: var(--clr);
    cursor: pointer;
    transition: 0.5s;
    transform: translateX(calc(100% * var(--active-index)));

    &::before {
      content: "";
      position: absolute;
      top: 10px;
      left: -25.75px;
      width: 20px;
      height: 20px;
      border-top-right-radius: 30px;
      box-shadow: 0px -10px 0 2px var(--clr);
    }

    &::after {
      content: "";
      position: absolute;
      top: 4px;
      right: -25.75px;
      width: 20px;
      height: 20px;
      border-top-left-radius: 20px;
      box-shadow: -4px -6px 0 2px var(--clr);
      z-index: -1;
    }

    span {
      position: absolute;
      bottom: 3px;
      left: -1px;
      width: 60px;
      height: 60px;
      border: 4px solid #ffff;
      background: #ffff;
      border-radius: 50%;
      transform-origin: bottom;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
      transform: scale(0.85);
    }
  }

  ul li:nth-child(1).active ~ .indicator {
    transform: translateX(-156px);
  }

  ul li:nth-child(2).active ~ .indicator {
    transform: translateX(-51px);
  }

  ul li:nth-child(3).active ~ .indicator {
    transform: translateX(54.5px);
  }
  ul li:nth-child(4).active ~ .indicator {
    transform: translateX(159px);
  }
}
