div {
    width: 100vw;
    height: 120vh;
    background-image: url("../../assets/Images/Home_image.png"); /* Replace with the path to your image */
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
  }
  