$shadow-color: #000000;
$shadow-opacity: 0.15;

@mixin box-shadow($x, $y, $blur, $spread, $color, $opacity) {
  box-shadow: $x $y $blur $spread rgba($color, $opacity);
}


.material-symbols-rounded {
  font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' -25,
    'opsz' 20
}


button.button-future-expenses {
  border: 0;
  background-color: white;
  border-radius: 16px;
  min-width: 200px;
  min-height: 96px;
  padding: 24px 0px 24px 16px;
  @include box-shadow(2px, 2px, 6px, 0, $shadow-color, $shadow-opacity);

  display: flex;
  flex-direction: row;

  div.container-future-expenses-two {
    padding-left: 16px;
    .text-button-expense {
      padding: 4px 0px;
      margin: 0px;
      text-align: left;
    }
  }

  div.container-future-expenses-one {
    color: white;
    border-radius: 8px;
    width: 34px;
    height: 34px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      text-align: center;
      font-size: xx-large;
    }
  }
}