.ant-segmented-item-selected {
background-color: #024B59 !important;
}

.ant-segmented-item-selected > .ant-segmented-item-label{
    color: white !important;
}

.ant-segmented-thumb {
background-color: #024B59 !important;
}

.ant-segmented-item-label {
    color: #024B59
}

