.container-pie-chart {
    width: 428px;
    height: 358px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-margins {
    margin: 28px 0px;
    margin-bottom: 150px;
}